<launch>
  <node name="perceptionTranslatorBattery" pkg="saviRoombaDebugger" type="perceptionTranslatorBattery.py" />
  <node name="perceptionrTanslatorLine" pkg="saviRoombaDebugger" type="perceptionrTanslatorLine.py" />
  <!-- <node name="qrscanner" pkg="saviRoomba" type="qrscanner.py" /> -->
  <!-- <node name="actionDecoder" pkg="saviRoomba" type="actionDecoder.py" /> -->
  <!-- <node name="appReceiver" pkg="saviRoomba" type="app_receiver.py" /> -->
  <!-- <node name="logger" pkg="saviRoomba" type="logger.py" /> -->
</launch>